<!doctype html>
<html>
<head>
    <title>Socket.IO chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/util.css">
    <link rel="stylesheet" href="jquery/jquery.mobile-1.4.5.css">
    <script src="jquery/jquery-1.11.1.js"></script>
    <script src="jquery/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<ul id="messages"></ul>
<form action="">
    <input id="m" autocomplete="off"/>
    <button>Send</button>
</form>
<!--<script src="http://code.jquery.com/jquery-1.11.1.js"></script>-->
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    var input = $('#m');
    $('form').submit(function () {
        socket.emit('chat message', input.val());
        input.val('');
        return false;
    });

    socket.on('chat message', function (msg) {
        console.log(msg);
        $('#messages').append($('<li>').text(msg));
    });
</script>
</body>
</html>
