<!DOCTYPE html>
<html>
    <head>
        <title>文件下载</title>

        <meta charset="utf-8">
    </head>
    <body>
    <form action="/" >
        <br/>
        <input type="submit" value="返回"/>
    </form>
    <br/>
    <br/>
    <br/>
        <form action="/file_download" method="post" enctype="multipart/form-data">
            <h3>文件下载：</h3>
            gtslApp_signed.apk
            <br/>
            <input type="submit" value="下载文件"/>
        </form>
    </body>
</html>