
<!DOCTYPE html>
<html>
	<head>
		<title>文件上传表单</title>

		<meta charset="utf-8">
	</head>
	<body>
		<h3>文件上传：</h3>
		选择一个文件上传: <br />
		<form action="/file_upload" method="post" enctype="multipart/form-data">
		<input type="file" name="image" size="50" />
		<br />
		<input type="submit" value="上传文件" />
		</form>

		<!--<form action="/download" method="post" enctype="multipart/form-data">-->
			<!--<h3>文件下载：</h3>-->
		<!--<br />-->
		<!--<input type="submit" value="下载文件" />-->
		<!--</form>-->
	</body>
</html>